*{
  box-sizing: border-box;
}
.app {
 text-align: center;
}

div.card {
  background-color: rgb(245, 241, 241);
  text-align: left;
  border-radius: 5%;
  margin: 10px auto;
  list-style-type: none;
  border: 1px solid red;
  height: 30vh;
  width: 30vw;
  padding: 1em;

}
ul{
  list-style-type: none;
}
table, th, td {
  margin: 10px auto;
  border: 1px solid black;
}
.play-status{
  color: green;
}
.comp-status{
  color: red;
}
.tie-status{
  color: orange;
}
/* .card:first-of-type {
  display: none;
} */


